.strike {
  text-decoration: line-through;
}

h1{
  width: 400px;
  margin: 10px auto;
  text-align: center;
}

td{
  border: 1px solid lightgrey;
  padding: 0px;
}

#tableItem{
  width: 100%;
  height: 300px;
  overflow: auto;
}

#tableItem table {
  /* white-space: nowrap; */
  border-collapse: collapse;
}

#tableItem::-webkit-scrollbar{
  width: 5px;
}

#tableItem::-webkit-scrollbar-thumb {
  background-color: #1E2B37;
  border-radius: 10px;
}

#tableItem::-webkit-scrollbar-track {
  background-color: #2C3E50;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

#todo-Table{
  width: 100%;
  border-spacing: 0px;
}

::placeholder{
  color:  rgb(231, 145, 91);
}

input{
  color: rgb(231, 145, 91);
}

button{
  background-color: white;
  color: rgb(231, 145, 91);
  border: 1px solid black;
}

body{
  color: rgb(231, 145, 91);
}

.fc-button-group{
  background-color: white;
}

#checkedItem {
  accent-color: rgb(231, 145, 91);
}

#todoBlock{
  padding: 10px;
  border: 1px solid rgb(47, 185, 112);
  border-radius: 20px;
  margin-bottom: 10px;
}
.todoItemList{
  padding: 10px;
  border: 1px solid rgb(47, 185, 112);
  border-radius: 20px;
  margin-bottom: 10px;
}
#calendarBlock{
  padding: 10px;
  border: 1px solid rgb(47, 185, 112);
  border-radius: 20px;
}

.todoInputContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  margin-bottom: 10px;
}

.dateInputContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  margin-bottom: 10px;
}

.InputButtonCTN{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}

@media screen and (min-width: 767px){
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
  
  /* div#calendarBlock{
    position: sticky !important;
    top: 0;
  } */

}

@media screen and (max-width: 767px){
  
  #todoItemList, #calendar {
    margin-top: 10px;
  }
}
