.strike {
  text-decoration: line-through;
}

h1{
  width: 500px;
  margin: 10px auto;
  text-align: center;
}
h3{
  width: 500px;
  margin: 10px auto;
  text-align: center;
}

td{
  border: 1px solid lightgrey;
  padding: 0px;
}

.editFc{
  color: #2C3E50;
  justify-content: center;
  align-items: center;
}

.editFc:hover{
  color: #1E2B37;
  transform: scale(1.4);
  transition: 0.3s;
}

.deleteFc{
  color: #2C3E50;
  justify-content: center;
  align-items: center;
}

.deleteFc:hover{
  color: #1E2B37;
  transform: scale(1.4);
  transition: 0.5s;
}

#todo-Table td{
  text-align: center;
}

#tableItem{
  width: 100%;
  height: 300px;
  overflow: auto;
}

#tableItem table {
  /* white-space: nowrap; */
  border-collapse: collapse;
}

#tableItem::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}

#tableItem::-webkit-scrollbar-thumb {
  background-color: #1E2B37;
  border-radius: 10px;
}

#tableItem::-webkit-scrollbar-track {
  background-color: #2C3E50;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.fc-scroller::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.fc-scroller::-webkit-scrollbar-track {
  background-color: #2C3E50;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

/* Handle */
.fc-scroller::-webkit-scrollbar-thumb {
  background-color: #1E2B37;
  border-radius: 10px; 
}

#todo-Table{
  width: 100%;
  border-spacing: 0px;
  font-size: 11px;
}



::placeholder{
  color:  rgb(231, 145, 91);
}

input{
  color: rgb(231, 145, 91);
}

#todoFilter{
  border: 0px;
  color: rgb(231, 145, 91);
}

.todoBtn{
  background-color: #2C3E50;
  color: white;
  border-radius: 3px;
  border: none;
}

.todoBtn:hover{
  background-color: #1E2B37;
}

.fc table td{
  font-size: 11px;
}

body{
  color: rgb(231, 145, 91);
}

.fc-button-group{
  background-color: white;
}

#checkedItem {
  accent-color: #1e1e1e;
}

.checkFc{
  accent-color: #1e1e1e;
}

#todoBlock{
  padding: 10px;
  border: 1px solid rgb(47, 185, 112);
  border-radius: 20px;
  margin-bottom: 10px;
}
.todoItemList{
  padding: 10px;
  border: 1px solid rgb(47, 185, 112);
  border-radius: 20px;
  margin-bottom: 10px;
}
#calendarBlock{
  padding: 10px;
  border: 1px solid rgb(47, 185, 112);
  border-radius: 20px;
}

.todoInputContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  margin-bottom: 10px;
}

.dateInputContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  margin-bottom: 10px;
}

.InputButtonCTN{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}

@media screen and (min-width: 767px){
  main {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 10px;
  }
}

@media screen and (max-width: 767px){
  
  #todoItemList, #calendar {
    margin-top: 10px;
  }
}

.overlayModalBox{
  width: 100%;
  height: 100%;
  background-color: #2C3E50;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  z-index: 80;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100vw);
  transition: transform 250ms;
}

.todoModalBox{
  width: 50%;
  height: 170px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  min-width: 375px;
}

.modalCloseBtn{
  /* background-color: #1E2B37; */
  color: white;
  position: relative;
  top: -100px;
  left: -27px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
  min-width: 25px;
}

.overlayIntoView {
  transform: translateX(0);
  transition: transform 650ms;
}